<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>checkInServlet</servlet-name>
        <servlet-class>Servlet.checkInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkInServlet</servlet-name>
        <url-pattern>/checkInServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkOutServlet</servlet-name>
        <servlet-class>Servlet.checkOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkOutServlet</servlet-name>
        <url-pattern>/checkOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changeRoomServlet</servlet-name>
        <servlet-class>Servlet.changeRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeRoomServlet</servlet-name>
        <url-pattern>/changeRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cleanSureServlet</servlet-name>
        <servlet-class>Servlet.cleanSureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cleanSureServlet</servlet-name>
        <url-pattern>/cleanSureServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchRoomServlet</servlet-name>
        <servlet-class>Servlet.searchRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchRoomServlet</servlet-name>
        <url-pattern>/searchRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logonServlet</servlet-name>
        <servlet-class>Servlet.logonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logonServlet</servlet-name>
        <url-pattern>/logonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addClientServlet</servlet-name>
        <servlet-class>Servlet.addClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClientServlet</servlet-name>
        <url-pattern>/addClientServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteClientServlet</servlet-name>
        <servlet-class>Servlet.deleteClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteClientServlet</servlet-name>
        <url-pattern>/deleteClientServlet</url-pattern>
    </servlet-mapping>
</web-app>

