<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>checkOutServlet</servlet-name>
        <servlet-class>Servlet.checkOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkOutServlet</servlet-name>
        <url-pattern>/checkOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logonServlet</servlet-name>
        <servlet-class>Servlet.logonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logonServlet</servlet-name>
        <url-pattern>/logonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteroomServlet</servlet-name>
        <servlet-class>Servlet.deleteroomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteroomServlet</servlet-name>
        <url-pattern>/deleteroomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addroomServlet</servlet-name>
        <servlet-class>Servlet.addroomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addroomServlet</servlet-name>
        <url-pattern>/addroomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editroomServlet</servlet-name>
        <servlet-class>Servlet.editroomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editroomServlet</servlet-name>
        <url-pattern>/editroomServlet</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>adminloginServlet</servlet-name>
        <servlet-class>Servlet.adminloginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminloginServlet</servlet-name>
        <url-pattern>/adminloginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowEmployee</servlet-name>
        <servlet-class>employeeServlet.Showemployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowEmployee</servlet-name>
        <url-pattern>/ShowEmployee.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>employeeServlet.Addemployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addemployee.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>employeeServlet.DeleteEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteemployee.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>employeeServlet.UpdateEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/updateemployee.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>employeeServlet.Resetpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayEmployee</servlet-name>
        <servlet-class>employeeServlet.DisplayEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayEmployee</servlet-name>
        <url-pattern>/displayemployee.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkRecord</servlet-name>
        <servlet-class>Servlet.WorkRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkRecord</servlet-name>
        <url-pattern>/workrecord.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sign1</servlet-name>
        <servlet-class>Servlet.Sign1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign1</servlet-name>
        <url-pattern>/sign1.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sign2</servlet-name>
        <servlet-class>Servlet.Sign2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign2</servlet-name>
        <url-pattern>/sign2.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lookincomeServlet</servlet-name>
        <servlet-class>Servlet.lookincomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lookincomeServlet</servlet-name>
        <url-pattern>/lookincomeServlet</url-pattern>
    </servlet-mapping>





</web-app>

